/* * {
    outline: 1px solid tomato;
} */

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgb(248, 248, 248);
}

.header h1 {
    font-size: 15px;
}

.header .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;

    line-height: 100px;
}

.header img {
    width: 200px;
}

.header .gnb {
    margin: 0 0 0 20px;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    margin: 0 0 0 300px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    font-size: 17px;
    display: block;
    text-align: center;
    color: #333;
}

.header .gnb>ul>li .submenu {
    position: absolute;
    left: 1px;
    right: 0;
    line-height: 35px;
    /* transform: translate(0, 0); */

    /* width: 600px; */
    text-align: center;
    font-size: 15px;

    padding: 20px 0;
    display: none;
}

.header .gnb:hover>ul>li .submenu {
    display: block;
}

.header .gnb>ul>li .submenu a {
    color: #333;
    text-align: center;
}


.header .gnb::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

.header:hover .gnb::before {
    height: 350px;
}

.header .right {
    margin: 0 0 0 auto;
    font-size: 20px;
}


/* .header .gnb::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: rgb(250, 250, 250);
    border-top: 1px solid #ddd;
} */

.mainVisual {}

.mainVisual .mainSlide .itm01 {
    background: url(../img/main_01.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/main_02.jpg) no-repeat center center/cover;

}

.mainVisual .mainSlide .itm03 {
    background: url(../img/main_03.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .itm04 {
    background: url(../img/main_04.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    background: none;
    border: none;

    font-size: 0;

    width: 70px;
    height: 70px;

    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

.mainVisual .mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -800px;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 800px;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 0 5px;
    font-size: 0;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: #ffa034;
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

.mainVisual .inner {
    position: relative;
}

.mainVisual .mainSlide .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .mainSlide figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.mainVisual .mainSlide .inner {
    position: relative;
    z-index: 999;
    height: 800px;
}

.mainVisual .mainSlide .inner h3 {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 10px 0;
    position: relative;
    z-index: 999;
    top: 700px;
    left: 200px;
    right: 0;
    text-align: center;
    line-height: 55px;
    font-weight: 500;
}








.mainContent {
    padding: 200px 0 200px 0;
    width: 1200px;
    margin: 0 auto;
}

.mainContent h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
    color: #444444
}

.mainContent p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 26px;
}

.mainContent a {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 180px;
    left: -3px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    background: rgb(255, 0, 0);
    padding: 8px 0;
}


.mainContent a:hover {
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 0, 0);
    width: 180px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border-top: 1px solid rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    border-left: 1px solid rgb(255, 0, 0);
    border-right: 1px solid rgb(255, 0, 0);
    padding: 8px 0;
}

.mainContent a::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    top: -230px;
    left: 50%;
    right: 0;
    background: rgb(255, 0, 0);
}

.mainContent .inner {
    display: flex;
    gap: 30px;
}

.mainContent figure {
    position: relative;
    margin: 30px 0;
}

.mainContent figure img {
    position: relative;
    width: 380px;
    margin: 0 0 40px 0;
}

.mainContent strong {
    font-size: 18px;
    line-height: 22px;
    color: #444444;
}

.mainContent .st1::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 100px;
    top: 170px;
    left: 250px;
    right: 0;
}

.mainContent .st2::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 100px;
    top: 170px;
    left: 170px;
    right: 0;
}

.mainContent .st3::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 100px;
    top: 170px;
    left: 170px;
    right: 0;
}

.mainContent .p1 {
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 180px;
    left: 300px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.mainContent .p2 {
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 180px;
    left: 300px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.mainContent .p3 {
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 180px;
    left: 270px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.mainContent .h1 {
    display: block;
    position: absolute;
    font-size: 70px;
    color: rgb(128, 128, 128);
    top: 200px;
    left: 280px;
    right: 0;
    font-weight: 900;
    text-shadow: #ffffff;
}

.mainContent .h1::after {
    content: "";
    position: absolute;
    width: 95px;
    height: 5px;
    top: 75px;
    left: 7px;
    right: 0;
    background: rgb(255, 0, 0);
}

.mainContent .h2 {
    display: block;
    position: absolute;
    font-size: 70px;
    color: rgb(128, 128, 128);
    top: 200px;
    left: 200px;
    right: 0;
    font-weight: 900;
    text-shadow: #ffffff;
}

.mainContent .h2::after {
    content: "";
    position: absolute;
    width: 175px;
    height: 5px;
    top: 75px;
    left: 7px;
    right: 0;
    background: rgb(255, 0, 0);
}

.mainContent .h3 {
    display: block;
    position: absolute;
    font-size: 70px;
    color: rgb(128, 128, 128);
    top: 200px;
    left: 210px;
    right: 0;
    font-weight: 900;
    text-shadow: #ffffff;
}

.mainContent .h3::after {
    content: "";
    position: absolute;
    width: 165px;
    height: 5px;
    top: 75px;
    left: 7px;
    right: 0;
    background: rgb(255, 0, 0);
}

.mainContent .h3::after
/* .mainContent .img_box {
    margin: 0 0 20px 0;
    overflow: hidden;
}*/

.mainBrand {
    padding: 200px 0 200px 0;
}

.mainBrand .inner {
    width: 1200px;
    margin: 0 auto;
}

.mainBrand h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
    color: #444444;
    position: relative;
}

.mainBrand>a {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 180px;
    left: 860px;
    right: 0;
    margin: 0 0 40px 0;
    text-align: center;
    background: rgb(255, 0, 0);
    padding: 8px 0;
}

.mainBrand a:hover {
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 0, 0);
    width: 180px;
    margin: 0 0 40px 0;
    text-align: center;
    background: #fff;
    border-top: 1px solid rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    border-left: 1px solid rgb(255, 0, 0);
    border-right: 1px solid rgb(255, 0, 0);
    padding: 8px 0;
}

.mainBrand a::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    top: -230px;
    left: 50%;
    right: 0;
    background: rgb(255, 0, 0);
}

.mainBrand figure {}

.mainBrand img {
    width: 100%;
    margin: 2px 0 0 0;
}

.mainBrand .inner {
    width: 1200px;
}

.mainBrand .inner h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
    color: #fff;
    position: relative;
}

.mainBrand>p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 26px;
}

.mainBrand .inner figure {
    flex: 1;
}

.mainBrand .inner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.mainBrand .inner figure a::after {
    content: "";
}

.mainBrand .inner .case {
    position: relative;
}

.mainBrand .inner figure {
    position: relative;
    overflow: hidden;
    /* filter: brightness(70%); */
}

.mainBrand .inner figure .over {
    position: absolute;
    top: 2px;
    left: -100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 100px 15px;
    color: #fff;

    display: flex;
    flex-direction: column;

    /* transition: 0.5s; */
}

.mainBrand .inner figure:hover .over {
    left: 0;
}

.mainBrand .inner .sub01 {
    display: flex;
    gap: 2px;
}

.mainBrand .inner .sub02 {
    display: flex;
    gap: 2px;
}

.mainBrand .inner .sub03 {
    display: flex;
    gap: 2px;
}

.mainBrand .inner .over h3 {
    font-size: 26px;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 0 10px 0;
    top: -35px;
}

.mainBrand .inner .over a {
    position: relative;
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
    width: 100px;
    top: -35px;
    text-align: center;
    margin: 0 auto;
}

.mainBrand .inner .over a:hover {
    position: relative;
    border: 1px solid rgb(255, 0, 0);
    padding: 5px 10px;
    color: rgb(255, 0, 0);
}



.mainMap {
    padding: 200px 0 0 0;
    width: 1200px;
    margin: 0 auto;
}

.mainMap figure {
    width: 1200px;
    margin: 30px 0;
}

.mainMap figure img {
    height: 450px;
    display: block;
    margin: 0 auto;
    width: 1200px;
    border-top: 1px solid rgb(167, 167, 167);
    border-bottom: 1px solid rgb(167, 167, 167);
    border-left: 1px solid rgb(167, 167, 167);
    border-right: 1px solid rgb(167, 167, 167);
    /* filter: grayscale(1); */
}

.mainMap h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
    color: #444444;
    position: relative;
}

.mainMap p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 26px;
}

.mainMap a {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    background: rgb(255, 0, 0);
    padding: 8px 0;
}

.mainMap a:hover {
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 0, 0);
    width: 180px;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    border-top: 1px solid rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    border-left: 1px solid rgb(255, 0, 0);
    border-right: 1px solid rgb(255, 0, 0);
    padding: 8px 0;
}

.mainMap a::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    top: -230px;
    left: 50%;
    right: 0;
    background: rgb(255, 0, 0);
}

.mainMap .bottom {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 100px 0;
}

.mainMap .basic_table {
    width: 100%;
    border-top: 3px solid rgb(255, 0, 0);
    border-collapse: collapse;
    border-spacing: 0;
}

.mainMap .basic_table tr:nth-child(odd) {
    background: #f7f7f7;
}

.mainMap .basic_table td {
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
}

.mainMap .basic_table td~td {
    border-left: 1px solid #ddd;
}

.mainMap .basic_table td:nth-child(1) {
    font-weight: 500;
    font-size: 17px;
}

.mainMap .basic_table td {
    height: 50px;
}

.mainMap h2 ::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    top: -230px;
    left: 50%;
    right: 0;
    background: rgb(255, 0, 0);
}




.mainIcon {
    padding: 100px 0;
}

.mainIcon h2 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
    color: #444444;
    position: relative;
}

.mainIcon h2::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 70px;
    top: -100px;
    left: 50%;
    right: 0;
    background: rgb(255, 0, 0);
}

.mainIcon>p {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 60px 0;
    text-align: center;
}

.mainIcon .inner {
    display: flex;
    gap: 60px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.mainIcon .inner>div {
    position: relative;
    flex: 1;
}

.mainIcon .inner>div~div::before {
    content: "";
    position: absolute;
    top: ;
    left: -30px;
    width: 1px;
    height: 100%;
    background: #ddd;
}

.mainIcon .itm {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    word-break: keep-all;
}

.mainIcon .itm h3 {
    font-size: 20px;
    font-weight: 500;
    min-height: 70px;
}

.mainIcon .itm p {
    max-height: 65px;
    overflow: hidden;
    margin: 0 0 60px 0;
}

.mainIcon .inner span {
    position: absolute;
    width: 26px;
    height: 26px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
}

.mainIcon .inner a {
    color: #fff;
    text-align: center;
    left: 0;
    font-size: 18px;
    font-weight: 600;
}

.mainIcon .inner span:hover {
    position: absolute;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 50%;
    border-top: 1px solid rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    border-left: 1px solid rgb(255, 0, 0);
    border-right: 1px solid rgb(255, 0, 0);
}

.mainIcon .inner a:hover {
    color: rgb(255, 0, 0);
    left: 0;
    font-size: 18px;
    font-weight: 700;
}

#toTop {
    position: fixed;
    bottom: 30px;
    right: 30px;

    display: none;
}

#toTop i {
    background: rgb(255, 0, 0);
    color: white;
    font-size: 26px;
    padding: 15px;
}

.footer {
    background: rgba(245, 245, 245);
    border-top: 1px solid #fff;
    padding: 40px 0;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    padding: 30px 0 0 0;
}

.footer .top {
    line-height: 30px;
}

.footer .list {
    font-size: 0;
    margin: 0 0 10px 0;
}

.footer .list li {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

.footer .list li a {
    color: #444444;
    font-size: 15px;
    font-weight: 400;
}

.footer .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #444444;
    margin: 0 10px;
    /* vertical-align: -1px; */
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.footer .right {
    display: flex;
    gap: 8px;
    font-size: 0;
}

.footer .right i {
    font-size: 20px;
    padding: 5px;
    background: #333;
    border-radius: 50%;
    color: #fff;
}

.footer .bottom {
    line-height: 20px;
}

.footer .bottom address {
    color: #444444;
    width: 1200px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 13px;
    border-top: 1px solid #444444;
    padding: 20px 0 30px 0;
}